[Desktop Entry]
Name=Krudio QML 
Exec=krudio-qml %F
Categories=AudioVideo;Player;GTK;
Terminal=false 
Type=Application
Icon=/usr/share/krudio-qml/data/krudio-qml.svg
